.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns */
}

.cart_body {
  background-color: white;
  height: 700px;
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.stores-container {
  display: flex;
  margin: 20px;
  gap: 20px;
  /* Add space between columns */
}

.store {
  flex: 1 0 200px;
  box-sizing: border-box;
  margin-top: 10px;
}

h2 {
  flex: 1 0 200px;
  margin: 8px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(198, 211, 245, 0.5);
  text-align: center;
  border-radius: 7px;
}

.header {
  display: flex;
  /* Display children in a flex container */
  flex-wrap: wrap;
  margin: 8px;
  flex: 1 0 200px;
  /* Set a flex basis with a maximum width of 200px */
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  /* Ensure padding is included in the width */
  background-color: white;
  border-radius: 7px;
  box-shadow: rgba(61, 61, 219, 0.2) 0px 0px 10px 0px;
}

.price {
  margin: 8px;
  flex: 1 0 200px;
  /* Set a flex basis with a maximum width of 200px */
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  /* Ensure padding is included in the width */
  background-color: white;
  border-radius: 7px;
}

.item {
  display: flex;
  /* Display children in a flex container */
  background-color: white;
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px;
  border-radius: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.line {
  background-color: white;
  text-align: left;
  width: 72%;
  padding-left: 10px;
}

.line-price,
.line-quantity {
  flex: 1;
  text-align: left;
  /* Ensure padding is included in the width */
  background-color: white;
  width: 20%;
}

.cart-btns {
display: flow;
}

.btn-row-2 {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.total {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  border-radius: 7px;
  width: 28%;
  box-shadow: rgba(61, 61, 219, 0.2) 0px 7px 29px 0px;
  margin-left: auto; /* Center horizontally */
  margin-right: auto;
}

.column-header {
  flex: 1;
  font-weight: bold;
}
