.main {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 97%;
  height: 87%;
  max-height: 90vh;
  background-color: #14AE5C;
  padding: 20px;
  border-radius: 4px;
  overflow-y: auto;
}

.savings {
  position: fixed;
  text-align: center;
}

#weekly, #monthly, #yearly {
  border-radius: 50%;
  background-color: #BBE2AE;
}

#weekly {
  top: 23%;
  left: 26%;
  width: 170px;
  height: 170px;
  padding-top: 55px;
}

#monthly {
  top: 5%;
  left: 43%;
  width: 200px;
  height: 200px;
  padding-top: 74px;
}

#yearly {
  bottom: 8%;
  left: 37%;
  padding: 80px;
  width: 240px;
  height: 240px;
  background-color: #BBE2AE;
}

@media (max-width: 768px) {
  #weekly {
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
  }

  #monthly {
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
  }

  #yearly {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.savings_list {
  position: fixed;
  bottom: 4%;
  left: 15%;
  transform: translateX(-50%);
  border-radius: 6px;
  margin: 8px;
  padding: 10px;
  background-color: #BBE2AE;
  max-width: 90%;
  overflow: auto;
}

// Grocery and favourite lists on dashboard
.product_lists{
  border: transparent;
  justify-content: left;
  margin-bottom: 20px;
  padding-top: 10px;
  width: 300px;
  right: 45px;
  border-radius: 7px;
  background-color: #BBE2AE;
}

#grocer_list {
  position: fixed;
  top: 14%;
  max-height: 18%;
  right: 45px;
  overflow: auto;
}

#favourite_list{
  position: fixed;
  top: 35%;
  max-height: 60%;
  overflow: auto;
}
