
// dashboard circles, background, savings and initial dispaly
.dashboard_background{
  background-color: #14AE5C;
  height: 650px;
}

.main_div{
  padding: 20px;
}

.savings {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: transparent;
}

#weekly, #monthly, #yearly {
  margin: 20px;
  padding: 25px;
  border-radius: 50%;
  background-color: #BBE2AE;
}

#weekly {
  position: absolute;
  top: 24%;
  left: 22%;
  width: 150px;
  height: 150px;
}

#monthly {
  position: absolute;
  top: 28%;
  left: 40%;
  width: 180px;
  height: 180px;
}

#yearly {
  position: absolute;
  bottom: 20%;
  left: 35%;
  transform: translateX(-50%);
  padding: 25px;
  width: 240px;
  height: 240px;
  background-color: #BBE2AE;
}

// Grocery and favourite lists on dashboard
.product_lists{
  display: flex;
  border: transparent;
  height: 170px;
  width: 260px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 3px;
  background-color: #BBE2AE;
  justify-content: left;
  margin-left: auto;
}
