// Specific CSS for your home-page
a:link {
  text-decoration: none;
}

a:hover {
  color: darkgreen;
}

.blank_div {
  padding-left: 30px;
}

.home_canvas {
  padding-left: 40px;
  padding-top: 100px;
  background-color: orange;
  border-radius: 3px;
  height: 600px;
}

.return_btn {
  transition-delay: 2s;
  border: transparent;
  border-radius: 3px;
}


// Buttons

.dash_btn{
  font-size: small;
  transition-delay: 2s;
  border: 2px solid white;
  border-radius: 3px;
  background-color: transparent;
  overflow: hidden;
}

#dash_btn_spacing{
  margin-top: 115px;
  margin-left: 30px;
}

#dash_grocer{
  position: right;
}
