// Specific CSS for your home-page
a:link {
  text-decoration: none;
}

a:hover {
  color: darkgreen;
}

.blank_div {
  padding-left: 30px;
}

.home_canvas {
  padding-left: 40px;
  padding-top: 100px;
  background-color: orange;
  border-radius: 3px;
  height: 600px;
}

.return_btn {
  transition-delay: 2s;
  border: transparent;
  border-radius: 3px;
}

// dashboard circles, background, savings and initial dispaly
.dashboard_background{
  background-color: #14AE5C;
  height: 650px;
}

.main_div{
  padding: 20px;
}

.savings {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: transparent;
}

#weekly, #monthly, #yearly {
  margin: 20px;
  padding: 25px;
  border-radius: 50%;
  background-color: #BBE2AE;
}

#weekly {
  position: absolute;
  top: 24%;
  left: 22%;
  width: 150px;
  height: 150px;
}

#monthly {
  position: absolute;
  top: 28%;
  left: 40%;
  width: 180px;
  height: 180px;
}

#yearly {
  position: absolute;
  bottom: 20%;
  left: 35%;
  transform: translateX(-50%);
  padding: 25px;
  width: 240px;
  height: 240px;
  background-color: #BBE2AE;
}

// Grocery and favourite lists on dashboard
.product_lists{
  display: flex;
  border: transparent;
  height: 170px;
  width: 260px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 3px;
  background-color: #BBE2AE;
  justify-content: left;
  margin-left: auto;
}

// Buttons

.dash_btn{
  font-size: small;
  transition-delay: 2s;
  border: 2px solid white;
  border-radius: 3px;
  background-color: transparent;
  overflow: hidden;
}

#dash_btn_spacing{
  margin-top: 115px;
  margin-left: 30px;
}

#dash_grocer{
  position: right;
}
