.search-container{
  width: 2000px;
  padding: 10px;
  text-align: center;
}

.search-cards{
  width: 800px;
  padding: 10px;
  text-align: left;
}

.grocery-cards{
  width: 800px;
  padding: 10px;
  text-align: right;
}
