<body>
  <%# all products cover entire page, white txt, black backdrop %>
  <div class="product_bar">
    <h1>Your shopping carts</h1>
  </div>

  <div class="supermarket">
    <% @store_hash.each do |store, value| %>
      <h2><%= store %></h2>
      <h2><%= value[:totalprice] %></h2>
      <ul>
        <% value[:items].each do |item| %>
         <li><%= item.item.name %></li>
        <% end %>
      </ul>
    <% end %>

  </div>

</body>
