<body>
  <%# all products cover entire page, white txt, black backdrop %>
  <div class="product_bar">
    <h1>Your shopping carts</h1>
  </div>

  <div class="stores-container">
    <% @store_hash.each do |store, value| %>
    <div class="store">
    <div class="header">
      <h2><%= store %></h2>
      <div class="price"><h3>Cart: $<%= value[:totalprice] %></h3></div>
      </div>
      <% value[:items].each do |lineitem| %>
      <div class="item">
        <div class="line"><%= lineitem.item.name %></div> <div class="line-price">$<%= lineitem.item.price / 100.0 %></div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="total">
    <h3>Cart total</h1></div>
  </body>
