<body>
  <%# all products cover entire page, white txt, black backdrop %>
  <div class="product_bar">
    <h1>Your shopping carts</h1>
  </div>

  <div class="supermarket">
    <h1>Coles</h1>
    <h1>Woolworths</h1>
    <h1>Organic Oasis</h1>
    <h1>City Mart</h1>
    <h1>Bliss Foods</h1>
  </div>

</body>
