<%# navbar fixed with logo and two links %>

<div class="dashboard_background">
<%# small message to user with current login %>

<div class="main_div">
  <h1>Hello </h1>
  <p>Welcome back to your Savvy Shopper dashboard</p>


<%# Need to add the savings per time as well %>
<div class="savings">
    <div class="savings" id="weekly">
      <h5>This week you have saved</h5>
    </div>

    <div class="savings" id="monthly">
      <h5>This month you have saved</h5>
    </div>

    <div class="savings" id="yearly">
      <h5>This year you have saved</h5>
    </div>
</div>

<%# line 30 needs to be fixed so it goes to an actual groceries page or able to edit %>
        <div class="product_lists" id="grocer_list">
          <ul>
            <button class="dash_btn">
              <%= link_to "shopping list", search_path %> </button>
              <% @store_hash.each do |grocery_store, _info| %>
              <li><%= grocery_store %></li>
            <% end %>
          </ul>
        </div>

        <div class="product_lists" id="favourite_list">
          <ul>
            <button class="dash_btn" id="dash_grocer" >
            <%= link_to "shopping cart", cart_path %> </button>
             <%= render partial: 'cart', locals: { store_hash: @store_hash } %>
          </ul>
        </div>
    </div>
  </div>
</div>
