<div data-controller="hello">

<div class="blank_div">
  <div class="logo">
    <h1>SHOP SAVVY</h1>
    <%# <link rel="stylesheet" href="">      placeholder%>
      <div class="home_canvas">
        <h1>Have you ever wanted</h1>
        <p>We offer exclusive knowledge on</p>
          <button type="button" class="return_btn" id="dash_btn_spacing" >
            <%= link_to "Get Started", dashboard_path(@dashboard) %>
          </button>
      </div>
  </div>
</div>

<%# add image inside on line  6%>
