<div class="banner">
  <div class="home_canvas">
    <div class="container">
      <h1>Everyday savings, simplified</h1>
      <p class="intro">Tired of hopping between stores to find the best grocery deals?
        <br>
        Say goodbye to the hassle and hello to convenience!
        <br>
        We're your one-stop destination for comparing prices from your favourite stores, saving you time, money,
        and unnecessary stress.
      </p>
      <button type="button" class="return_btn" id="dash_btn_spacing">
        <%= link_to "Sign Up", new_user_registration_path %>
      </button>
    </div>
  </div>
</div>

<h3 class="footer_title">Partners</h3>
<div class="footer">
  <div class="stores">
    <div class="store1"><a href="#"></a></div>
    <div class="store2"></div>
    <div class="store3"></div>
    <div class="store4"></div>
    <div class="store5"></div>
    <div class="store6"></div>
  </div>
</div>
